<div class="card">
    <div class="image-container">
        <img class="card-img-top" [src]="listing.image_url" alt="Listing Image">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{listing.title}}</h5>
        <p class="card-text">Descriere: {{listing.description}}</p>
        <p class="card-text">Preț: {{listing.price}} lei</p>
        <p class="card-text">Vândut de: {{listing.user.firstName}} {{listing.user.lastName}}</p>
        <p class="card-text">Postatat acum {{timeAgo(listing.pub_date)}}</p>
    </div>
</div>
