<div class="container">
    <div class="form-container">
        <form class="listing-form" [formGroup]="formListing" (submit)= "submit()">
            <div class="form-floating mb-3">
                <input type="text" formControlName="title" class="form-control" id="title" placeholder="Titlu" name="title">
                <!-- <label for="title">Titlu</label> -->
            </div>

            <div class="form-floating mb-3">
                <input type="text" formControlName="description" class="form-control" id="description" placeholder="Descriere" name="description">
                <!-- <label for="description">Descriere</label> -->
            </div>

            <div class="form-floating mb-3">
                <input type="number" formControlName="price" class="form-control" id="price" placeholder="Preț" name="price">
                <!-- <label for="price">Pret</label> -->
            </div>

            <div class="form-floating mb-3">
                <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Nume" name="firstName">
                <!-- <label for="firstName">Nume</label> -->
            </div>

            <div class="form-floating mb-3">
                <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Prenume" name="lastName">
                <!-- <label for="lastName">Prenume</label> -->
            </div>

            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email" name="email">
                <!-- <label for="email">Prenume</label> -->
            </div>

            <div class="form-group">
                <label><b>Incarcă o poză:</b></label>
                <input type="file" formControlName="picture" (change)="onFileSelected($event)">
            </div> <br>
            <button type="submit" class="custom-button">Apply</button>

    
            <!-- <div class="file-upload">
                {{fileName || "No file uploaded yet."}}
            
                <button mat-mini-fab color="primary" class="upload-btn"
                (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
            </div> -->

        </form>
    </div>
</div>