<div class="container">
    <div class="search-bar mb-4">
        <input type="text" class="form-control" placeholder="Căutați anunțuri..." id="search-bar-input" [(ngModel)]="searchQuery" (input)="onSearchChange()">
        <!-- <button type="button" class="btn btn-primary" id="search-button">Căutare</button> -->
    </div>

    <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let listing of filteredListings">
            <app-listing-card [listing]="listing"></app-listing-card>
        </div>
    </div>
</div>